* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.each-item {
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  width: 80vw;
  height: 30px;
}
.time {
  color: #475569;
  font-family: roboto;
  font-size: 12px;
  margin: 5px;
}
.logo {
  height: 12px;
  width: 12px;
  margin: 5px;
}
.title {
  color: #475569;
  font-family: roboto;
  font-size: 12px;
  margin: 5px;
}
.domain {
  color: #64748b;
  font-family: roboto;
  font-size: 10px;
  margin: 5px;
}
.dlt {
  height: 12px;
  width: 12px;
  margin: 5px;
  align-self: flex-end;
  justify-content: flex-end;
}
